# Dependencies
node_modules/

# Build outputs
dist/
*.log

# Environment variables
# Игнорируем локальные оверрайды
.env.local
.env.*.local

# Разрешаем коммитить основные конфиги
!.env
!.env.example
!.env.development
!.env.production

# IDE
.idea/
.vscode/
*.swp